<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
        <link rel="stylesheet" href="index.css">
        <title>Tantárgyfelvétel</title>
	</head>
	<body>
	<a href="http://localhost:8080/login" id="logout">Kijelentkezés</a>
		<div id="otherpages" class="border-radius">
		  <h1 style="text-align:center">Tantárgyfelvétel</h1>
		    
			<form method="post" >
				<input placeholder="Tantárgy kód" required type="text" name="subjectCode"><br>
				<input type="submit" value="Felvétel">
			</form>		
		</div>
        <div class="classes">
            <h2>Felvehető tantárgyak:</h2>
            <table>
				<tr>
					<th>Tantárgy kód</th>
					<th>Tantárgy név</th>
					<th>Tanterem</th>
					<th>Időpont</th>
				</tr>
				<tr th:if="${#lists.isEmpty(subjects)}">
					<td colspan="4">Nincs felvehető tantárgy.</td>
				</tr>
				<tr th:each="subject : ${subjects}">
					<td th:text="${subject.code}"></td>
					<td th:text="${subject.name}"></td>					
					<td th:text="${subject.classRoom}"></td>
					<td th:text="${subject.time}"></td>
				</tr>
			</table>
            <h2><span th:text="${userName}"/> felvett tárgyai:</h2>
            <table>
				<tr>
					<th>Tantárgy kód</th>
					<th>Tantárgy név</th>
					<th>Tanterem</th>
					<th>Időpont</th>
				</tr>
				<tr th:if="${#lists.isEmpty(tookSubjects)}">
					<td colspan="4">Még nem vettél fel tárgyat!</td>
				</tr>
				<tr th:each="subject : ${tookSubjects}">
					<td th:text="${subject.code}"></td>
					<td th:text="${subject.name}"></td>
					<td th:text="${subject.classRoom}"></td>
					<td th:text="${subject.time}"></td>
				</tr>
			</table>
        </div>
	</body>
</html>