name: Build project

on:
  push:
    branches: [ UnitTest ]
  pull_request:
    branches: [ UnitTest ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
          
      - name: Run mvn clean install
        working-directory: ./Backend
        run: mvn clean install
